.bitton.button--add[disabled]{
    opacity: 0.5;
}

.button--add {
    background-color: green;
}

.button--save {
    background-color: green;
    margin-right: 10px;
}

.button--delete {
    background-color: #d73737;;
}

