.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
}

.field-filling {
    display: flex;
    margin-top: 20px;
}

.add-task-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
}

.mat-mdc-form-field {
    width: 80%;
    margin:0px 10px;
}


