<div class="todo-container">
    <div class="todo-header">Todo List</div>
    <ul class="todo-list">
        <app-todo-list-item 
            *ngFor="let item of todos"
            [item]="item"
            (delete)="deleteTodo($event)"
            (toggle)="toggleCompletion($event)">
        </app-todo-list-item>
    </ul>
    <div class="field-filling">
        <input type="text" class="add-task-input" placeholder="Add your new todo" [(ngModel)]="newTodoTitle">
        <button class="button button--add" [disabled]="!newTodoTitle" (click)="addTodo()">Add task</button>
    </div>
</div>