<div class="todo-container">
    <div class="todo-header">Todo List</div>
    <div *ngIf="isLoading" class="loadin-container">
        <!-- <div class="loading-spiner"></div> -->
        <img src="prelouder/louder.png" alt="">
    </div>
    <ul class="todo-list" *ngIf="!isLoading">
            <app-todo-list-item 
                *ngFor="let item of todos"
                [item]="item"
                (delete)="deleteTodo($event)"
                (toggle)="toggleCompletion($event)"
                >
            </app-todo-list-item>
    </ul>
    <div class="field-filling">
        <input type="text" class="add-task-input" placeholder="Add your new todo" [(ngModel)]="newTodoTitle">
        <app-button [title]="'Add Task'" [type]="'add'" [disabled]="!newTodoTitle" (click)="addTodo()"></app-button>
    </div>
</div>