@import './styles/variables.scss'

body 
  font-family: 'Arial', sans-serif
  background-color: $background-color
  color: $text-color
  margin: 0
  padding: 0


h1, h2, h3 
  font-weight: 600


a 
  color: $primary-color
  text-decoration: none

  &:hover 
    text-decoration: underline
  


.container 
  max-width: 1200px
  margin: 0 auto
  padding: $padding-medium

